/* Notes:
1. Add content div so as to create uniform margins */

/* General Rules */
:root {
    --font-main: 'Roboto', sans-serif;
    --padding-sides: 15%;
    --small-gap: 8px;
    --top-background-color: #d3a84e; 
    --quote-color: #ffe9b9;
    --box-color: #405A6E;
    --footer-color: #1F2B5A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, p {
    padding: 0;
}

/* Header */
.header, .header ul {
    display: flex;
}

.header {
    background-color: var(--top-background-color);
    padding: 12px var(--padding-sides) 0;

    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    gap: 32px;
}

/* Sections */
.front, .information, .quote-background, .call-to-action{
    flex: 0 0 300px;
    padding: 50px var(--padding-sides);
}

/* Front */
.front {
    background-color: var(--top-background-color);

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    max-width: 100%;
}

#left_front {
    flex: 1;
    min-width: 200px;
    max-width: 350px;

    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--small-gap);
}

#left_front button {
    padding: 8px 16px;

    background-color: var(--box-color);
    border: none;
    color: white;
    border-radius: 8px;
}

.main-pibble-img {
    max-width: 300px;
    border-radius: 30px;
}

/* Information */
.information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
}

.pibble_boxes {
    display:flex;
    justify-content: center;
    gap: var(--small-gap);
    flex-wrap: wrap;
}

.pibble_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.pibble_box img {
    border-radius: 25px;
    height: 180px;
    width: 180px;
}

.pibble_box p {
    text-align: center;
    width: 225px;
}

/* Quote */
.quote-background {
    background-color: var(--quote-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quote p {
    font-size: 36px;
    font-style: italic;
}

.quote_name {
    text-align: right;
    font-weight: bold;
}

/* Fourth Screen */
.call-to-action {
    display: flex;
    justify-content: center;
}

.blue-box {
    background-color: var(--box-color);
    padding: 25px;
    border-radius: 10px;

    align-self: center;

    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.bb_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
}

.blue-box button {
    padding: 8px 16px;

    background-color: var(--box-color);
    border: 1px solid white;
    color: white;
    border-radius: 8px;
}

/* Footer rules */
.footer {
    background-color: var(--footer-color);
    color: white;
    padding: 8px;

    display:flex;
    justify-content: center;
    align-items: center;
}