/* General Rules */
html, body {
    padding: 0px;
    margin: 0px;

    font-family: sans-serif;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: black;
}

/* Header rules */

.header, .header ul {
    display: flex;
}

.header, .front {
    background-color: #d3a84e;
}

.header {

    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    gap: 24px;
}

/* Body rules */

.main {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.section {
    display: flex;

    flex: 0 0 500px;
}

/* First screen */

/* Second screen */

.information {
    flex-direction: column;
}

.pibble_boxes {
    display:flex;
}

/* Third Screen */

.quote {
    background-color: #ffe9b9;
}

/* Fourth Screen */

.blue-box {
    background-color: 405A6E;

    display:flex;
}

/* Footer rules */

.footer {
    background-color: #1F2B5A;
    color: white;

    display:flex;
    justify-content: center;
    align-items: center;
}