/* Notes:
1. Add content div so as to create uniform margins */

/* General Rules */
:root {
    --font-main: sans-serif;
    --padding-sides: 50px;
    --top-background-color: #d3a84e; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    align-self: center;
}

h1, h2, h3, p {
    padding: 0;
}

.content {
    padding: 0 var(--padding-large);
}

/* Header rules */

.header, .header ul {
    display: flex;
}

.header {
    background-color: var(--top-background-color);
    padding-top: 12px;

    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Body rules */

.main {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;

    flex: 0 0 400px;
}

/* First screen */
.front {
    background-color: var(--top-background-color);

    gap: 20px;
    justify-content: center;
}


#left_front {
    display:flex;
    flex-direction: column;
    align-items: flex-start;

    justify-content: center;
}

.main-pibble-img {
    height: auto;
    max-width: 50%;
}

/* Second screen */

.information {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
}

.pibble_boxes {
    align-self: stretch;

    display:flex;
    justify-content: center;
    gap: 25px;
}

.pibble_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.pibble_box img {
    border-radius: 25px;
    height: 180px;
    width: 180px;
}

.pibble_box p {
    text-align: center;
}

/* Third Screen */

.section.quote {
    background-color: #ffe9b9;
    flex-direction: column;
    justify-content: center;
}


.quote p {
    font-size: 36px;
    font-style: italic;
}

.quote_name {
    text-align: right;
    font-weight: bold;
}

/* Fourth Screen */

.call-to-action {
    justify-content: center;
}

.blue-box {
    background-color: #405A6E;
    padding: 25px;
    border-radius: 10px;

    align-self: center;

    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.bb_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;
}

/* Footer rules */

.footer {
    background-color: #1F2B5A;
    color: white;

    display:flex;
    justify-content: center;
    align-items: center;
}